#config h2{
    padding: 1rem;
}

#config label{
    display: block;
    padding: 1rem;
    font-weight: bold;
}

#config input{
    padding: 0.5rem;
    width: 30rem;
    font: inherit;
    border: 1px solid rgb(204, 204, 204);
}

.error label{
    color: rgb(136, 2, 2);
}

.error input{
    border-color: rgb(136, 2, 2);
    color: rgb(136, 2, 2);
    background-color: rgb(253, 219, 219);
    margin-bottom: 1rem;
}

#config button{ 
    margin: 1rem 0.5rem 0 0.5rem;
}